<div style="text-align: center;">
    
    <img src="img/raquetas.jpg" alt="">
    <br>
    <h2>¿Quiénes somos?</h2>
    <h3>Somos una tienda especializada en la comercialización de raquetas de tenis, que además te ofrece una excelente
        plataforma Online para realizar tus compras.
        Queremos brindarles el mejor servicio y los mejores productos, con variabilidad de marcas y opciones de compra,
        de acuerdo a sus necesidades.
        Realizamos envíos a todo el país, siempre condicionados a la disponibilidad del producto.</h3>
    
</div>
<br>
<div>
    <h2>Ofertas del día</h2>
    <img src="img/oferta1.jpg" alt="">
    <img src="img/oferta2.jpg" alt="">
    <img src="img/oferta3.jpg" alt="">
</div>