<section id="product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row mt-3">
                    @if(products){
                        @for(item of products; track item.id){
                            <div class="col-lg-3 col-md-6">
                                <app-product-item [product]="item" />                
                            </div>                        
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>